<%# locals: (record:, user_record:) %>
<div class="meta">
  <div class="meta__row">
    <div class="meta__label">Label</div>
    <div class="meta__value"><%= record.label&.name || "—" %></div>
  </div>
  <div class="meta__row">
    <div class="meta__label">Cat #</div>
    <div class="meta__value"><%= record.catalog_number || "—" %></div>
  </div>
  <div class="meta__row">
    <div class="meta__label">Format</div>
    <div class="meta__value"><%= record.format || "—" %></div>
  </div>
  <div class="meta__row">
    <div class="meta__label">Condition</div>
    <div class="meta__value"><%= user_record&.condition || "—" %></div>
  </div>
</div>
