<div id="scrim" class="scrim"
     data-panel-target="scrim"
     data-action="click->panel#close"></div>

<aside id="panel" class="panel" data-panel-target="panel">
  <turbo-frame id="panel_content"></turbo-frame>
</aside>
